node_modules/
backend/venv/
backend/venv2/
backend/__pycache__/
*.pyc
.env
.DS_Store
dist/
build/
.next/
.vscode/
frontend/node_modules/
frontend/node_modules_old/
frontend/build/
backend/core/db.sqlite3
backend/core/*.db
backend/core/analyses/*.json
backend/core/history/*.json
backend/.pytest_cache/
tests/__pycache__/
